<!-- hospital/templates/hospital/footer.html -->
<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Hospital Management System</h5>
        <p>Managing your healthcare efficiently and effectively.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'product_list' %}" class="text-white"
              >Product List</a
            >
          </li>
          <li>
            <a href="{% url 'homepage' %}" class="text-white">Booking</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: info@hospital.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p class="mb-0">
          &copy; 2024 Hospital Management System. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
